
body {
    background-color: #f8f8ff;
}

.main {
    background-color: #fffff0;
    text-align: center;
    padding: 15px 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 5px #000000;
}

.left-align {
    text-align: left;
}

.right-align {
    text-align: right;
}

.main a {
    color: #BFA22C;
}

.copyright {
    font-size: 8px;
    margin-bottom: 0px;
}